# URL base de la API del backend
NEXT_PUBLIC_API_URL=https://backend.elmorro.com.pe/api

# Integración APIS Perú (DNI/RUC). Opcional.
NEXT_PUBLIC_APIS_PERU_BASE_URL=https://dniruc.apisperu.com/api/v1
NEXT_PUBLIC_APIS_PERU_TOKEN=

NODE_ENV=production
PORT=3002
